/* 슬라이드 스타일링 */

.progress-swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #dadde3 !important;
  opacity: 1;
}

.progress-swiper-pagination .swiper-pagination-bullet-active {
  width: 14px;
  height: 14px;
  background-color: #7e77ff !important;
}
